<div class="bg row">
  <div class="col-3 m">
    <h1 class="text-light ti">GR Supra Highlights</h1> 
     <nav>
  <a routerLink="/">Default</a>
  <a  (click)="gotoAbout()" class="text-light">Another</a>
</nav>
  </div>
  <div class="col-9 mt-5">
    <div class="row my-5">
      <div class="col text-light">
        <h6>3.0L 6-CYL. ENGINE</h6>

        <h6 class="se">382 HP/368 Lb.-Ft. *</h6>
        <img src="images/IC_engine - Copy.JPG" alt="" />
      </div>
      <div class="col text-light">
        <h6>PERFORMANCE</h6>

        <h6 class="se">0-60 in 3.9 Seconds *</h6>
        <img src="images/perfo.png" alt="" />
      </div>
      <div class="col text-light">
        <h6>TRANSMISSION</h6>

        <h6 class="se">6-Speed iMT or 8-Speed AT</h6>
        <img src="images/trans.jpg" alt="" />
      </div>
    </div>
    <div class="row mt-5">
      <div class="col text-light">
        <h6>DRIVETRAIN</h6>

        <h6>Rear-Wheel Drive</h6>
      </div>
      <div class="col text-light">
        <h6>AVS</h6>

        <h6>Adaptive Variable Suspension</h6>
      </div>
      <div class="col text-light">
        <h6>NATIONAL AUTO SPORT ASSOCIATION</h6>

        <h6>Complimentary 1-Year Membership *</h6>
      </div>
    </div>
  </div>
+
