<div class="row row-cols-1 row-cols-md-3 g-4 a">
  <div class="col-3">
    <div class="card">
      <img src="images/ins4.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Driving comfortable</h5>
        <p class="card-text">・The straight-4 engine offers two tuning options for the 2.0 liter twin-scroll turbo power unit: a high-performance choice with maximum output of 190 kW (258 PS) for nimble, sporty driving, and a gentler unit producing 145 kW (197 PS) for easy access to exhilarating driving from city streets to the open road..</p>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card">
      <img src="images/insu3.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title ">Seating comfortable</h5>
        <p class="card-text ">The height of the seat of a chair is usually between 43 and 47 cm: these heights provide the correct proportions for a table which is 75-76 cm in height.

The width of the seat usually varies from 38 to 50 cm. In many cases, the seat is wider at the front than at the back, so that the chair appears lighter while still being large enough to provide comfort and support.
.</p>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card">
      <img src="images/insu6.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Steering</h5>
        <p class="card-text ">Rack and pinion steering is a kind of mechanical steering that makes use of a gear system to convert rotational motion from the steering wheel into linear motion of the wheels. Rack and pinion steering is one of the most used types of mechanical steering. The Toyota Supra, which is a high-performance sports car, has this kind of steering since it was designed for that vehicle.</p>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card">
      <img src="images/insu7.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Automatic gearbox</h5>
        <p class="card-text">

Both transmissions featured an overdrive gear and the automatic featured a locking torque converter. The top gear in the 5-speed was its overdrive whereas the automatic transmission featured an overdrive gear that would engage at speeds over 56 km/h (35 mph). The 1982 model's rear differential featured a 3.72:1 ratio.</p>
      </div>
    </div>
  </div>
</div>
