h1{
    color: aliceblue;
 
}
.b{
    background-color: rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      left: 100px;
        color: black;
  font-size: 11.5px;
  font-weight: 800;
}

img{
     background-image: radial-gradient(white);
  width: 330px;
  height: 150px;
}
.main{
 background-image: radial-gradient(rgba(255, 0, 0, 0.758) , black);

}
.card{
    background-image: radial-gradient(
    rgba(255, 0, 0, 0.76),
    rgba(1, 0, 0, 0.804)
  );
}