<div class="main">
  <div class="row container-fluid">
    <h1 class="ms-5">SupraMk1</h1>
    <div class="card ms-5 col-5 m-5 b" style="width: 350px">
      <img src="images/ka.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h4 class="card-title">Supra MK1</h4>
        <p class="card-text">
          Feature : The first generation of the Supra was based largely upon the
          Toyota Celica liftback, but was longer by 129.5 mm (5.10 in). The
          doors and rear section were shared with the Celica but the front
          panels were elongated to accommodate the Inline-6 instead of the
          Celica's 4-cylinder engine.
        </p>
        <p class="card-text">Model-year : 1979-1981</p>
        <p class="card-text">Fuelcapcity : 36-41 litres.</p>
        <p class="card-text">colour-varient : Red</p>
        <p class="card-text">₹85 to 95 Lakh.</p>
         <button class="text-white btn btn-danger">Buy now</button>
      </div>
    </div>
    <div class="card col-4 m-5 b" style="width: 350px">
      <img src="images/la.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h4 class="card-title">Supra MK1</h4>
        <p class="card-text">
          Feature : The first generation of the Supra was based largely upon the
          Toyota Celica liftback, but was longer by 129.5 mm (5.10 in). The
          doors and rear section were shared with the Celica but the front
          panels were elongated to accommodate the Inline-6 instead of the
          Celica's 4-cylinder engine.
        </p>
        <p class="card-text">Model-year : 1979-1981</p>
        <p class="card-text">Fuelcapcity : 36-41 litres.</p>
        <p class="card-text">colour-varient : White</p>
        <p class="card-text">₹85 to 95 Lakh.</p>
         <button class="text-white btn btn-danger">Buy now</button>
      </div>
    </div>
    <div class="card col-4 m-5 b" style="width: 350px">
      <img src="images/ima.jfif" class="card-img-top" alt="..." />
      <div class="card-body">
        <h4 class="card-title">MK1</h4>
        <p class="card-text">
          Feature : The first generation of the Supra was based largely upon the
          Toyota Celica liftback, but was longer by 129.5 mm (5.10 in). The
          doors and rear section were shared with the Celica but the front
          panels were elongated to accommodate the Inline-6 instead of the
          Celica's 4-cylinder engine.
        </p>
        <p>Model-year : 1979-1981</p>
        <p>Fuelcapcity : 36-41 litres</p>
        <p>colour-varient : Black</p>
        <p>₹85 to 95 Lakh.</p>
         <button class="text-white btn btn-danger">Buy now</button>
      </div>
    </div>
  </div>
  <div class="row">
    <h1 class="ms-5">SupraMK2</h1>
    <div class="card col-4 m-5 ms-5 b" style="width: 350px">
      <img src="images/AA.jfif" class="card-img-top" alt="..." />
      <div class="card-body">
        <h4>MK2</h4>
        <p class="card-text">
          Feature : Mark II Toyota Supra were popular drivers' cars and were
          often found in autocross competitions of the era. In addition, the
          Supra came with four-wheel disc brakes, power everything, standard
          cruise control, and tilt steering wheel.
        </p>
        <p class="card-text">Model-year : 1982-1986</p>
        <p class="card-text">Fuelcapcity : 55 liters (14.5 US gallons),</p>
        <p class="card-text">colour-varient : Dazling Rust</p>
        <p class="card-text">₹88.18 Lakhs - .91.73 Lakhs</p>
         <button class="text-white btn btn-danger">Buy now</button>
      </div>
    </div>
    <div class="card col-4 m-5 ms-5 b" style="width: 350px">
      <img src="images/BB.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h4>MK2</h4>
        <p class="card-text">
          Feature : Mark II Toyota Supra were popular drivers' cars and were
          often found in autocross competitions of the era. In addition, the
          Supra came with four-wheel disc brakes, power everything, standard
          cruise control, and tilt steering wheel.
        </p>
        <p class="card-text">Model-year : 1982-1986</p>
        <p class="card-text">Fuelcapcity : 55 liters (14.5 US gallons),</p>
        <p class="card-text">colour-varient : Carcolic</p>
        <p class="card-text">₹88.18 Lakhs - .91.73 Lakhs</p>
         <button class="text-white btn btn-danger">Buy now</button>
      </div>
    </div>
    <div class="card col-4 m-5 ms-5 b" style="width: 350px">
      <img src="images/CC.jpeg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h4>MK2</h4>
        <p class="card-text">
          Feature : Mark II Toyota Supra were popular drivers' cars and were
          often found in autocross competitions of the era. In addition, the
          Supra came with four-wheel disc brakes, power everything, standard
          cruise control, and tilt steering wheel.
        </p>
        <p class="card-text">Model-year : 1982-1986</p>
        <p class="card-text">Fuelcapcity : 55 liters (14.5 US gallons),</p>
        <p class="card-text">colour-varient : Navy Blue</p>
        <p class="card-text">₹88.18 Lakhs - .91.73 Lakhs</p>
         <button class="text-white btn btn-danger">Buy now</button>
      </div>
    </div>
  </div>
  <div class="row">
    <h1 class="ms-5">SupraMK3</h1>
    <div class="card col-4 m-5 ms-5 b" style="width: 350px">
      <img src="images/FFF.jfif" class="card-img-top" alt="..." />
      <div class="card-body">
        <h4>MK3</h4>
        <p class="card-text">
          Feature : The third generation of the Supra first appeared in 1986
          with the goal to rival European sports cars of the time. The more
          extreme version - the 2.5GT Twin Turbo R, was marketed in 1990. With
          an engine delivering 280 hp (the legal limit for all Japanese makes
          back in the day), it could reach up to 260 km/h.
        </p>
        <p>Model-year : 1986-1993</p>
        <p>
          Fuelcapcity : How big is the MK3's fuel tank. According to the
          interwebz its 15galons which is 56l but i have never filled her up
          more than 45l.
        </p>
        <p>colour-varient : Black</p>
        <p>₹15.48 to 18.70 Lakh</p>
         <button class="text-white btn btn-danger">Buy now</button>
      </div>
    </div>
    <div class="card col-4 m-5 ms-5 b" style="width: 350px">
      <img src="images/DDD.jfif" class="card-img-top" alt="..." />
      <div class="card-body">
        <h4>MK3</h4>
        <p class="card-text">
          Feature : The third generation of the Supra first appeared in 1986
          with the goal to rival European sports cars of the time. The more
          extreme version - the 2.5GT Twin Turbo R, was marketed in 1990. With
          an engine delivering 280 hp (the legal limit for all Japanese makes
          back in the day), it could reach up to 260 km/h.
        </p>
        <p>Model-year : 1986-1993</p>
        <p>
          Fuelcapcity : How big is the MK3's fuel tank. According to the
          interwebz its 15galons which is 56l but i have never filled her up
          more than 45l.
        </p>
        <p>colour-varient : Gray</p>
        <p>₹15.48 to 18.70 Lakh</p>
         <button class="text-white btn btn-danger">Buy now</button>
      </div>
    </div>
    <div class="card col-4 m-5 ms-5 b" style="width: 350px">
      <img src="images/EEE.jfif" class="card-img-top" alt="..." />
      <div class="card-body">
        <h4>MK3</h4>
        <p class="card-text">
          Feature : The third generation of the Supra first appeared in 1986
          with the goal to rival European sports cars of the time. The more
          extreme version - the 2.5GT Twin Turbo R, was marketed in 1990. With
          an engine delivering 280 hp (the legal limit for all Japanese makes
          back in the day), it could reach up to 260 km/h.
        </p>
        <p>Model-year : 1986-1993</p>
        <p>
          Fuelcapcity : How big is the MK3's fuel tank. According to the
          interwebz its 15galons which is 56l but i have never filled her up
          more than 45l.
        </p>
        <p>colour-varient : Red</p>
        <p>₹15.48 to 18.70 Lakh</p>
         <button class="text-white btn btn-danger">Buy now</button>
      </div>
    </div>
  </div>
  <div class="row">
    <h1>SupraMK4</h1>
    <div class="card col-4 m-5 ms-5 b" style="width: 350px">
      <img src="images/1111.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h4>MK4</h4>
        <p class="card-text">
          Feature : The Toyota Supra MK4 is equipped with a twin-turbo 3.0-litre
          straight-six engine, producing up to 320 hp and around 440 Nm of
          torque, known as the 2JZ-series. This car accelerates from 0 to 100
          km/h in about 4.9 seconds, with a top speed of up to 277 km/h.'This
          unique Formula One inspired braking system allowed the Supra Turbo to
          record a 70-0 braking distance of 149 feet (45m) , the best braking
          performance of any production car tested in 1997 by Car and Driver
          magazine
        </p>
        <p>Model-year : 1993-2002</p>
        <p>Fuelcapcity : 21.1 gallons 80 L 17.6 UK gallons</p>
        <p>colour-varient : Silver</p>
        <p>₹85.00 Lakh</p>
         <button class="text-white btn btn-danger">Buy now</button>
      </div>
    </div>
    <div class="card col-4 m-5 ms-5 b" style="width: 350px">
      <img src="images/3333.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h4>MK4</h4>
        <p class="card-text">
          Feature : The Toyota Supra MK4 is equipped with a twin-turbo 3.0-litre
          straight-six engine, producing up to 320 hp and around 440 Nm of
          torque, known as the 2JZ-series. This car accelerates from 0 to 100
          km/h in about 4.9 seconds, with a top speed of up to 277 km/h.'This
          unique Formula One inspired braking system allowed the Supra Turbo to
          record a 70-0 braking distance of 149 feet (45m) , the best braking
          performance of any production car tested in 1997 by Car and Driver
          magazine
        </p>
        <p>Model-year : 1993-2002</p>
        <p>Fuelcapcity : 21.1 gallons 80 L 17.6 UK gallons</p>
        <p>colour-varient : Red</p>
        <p>₹85.00 Lakh</p>
         <button class="text-white btn btn-danger">Buy now</button>
      </div>
    </div>
    <div class="card col-4 m-5 ms-5 b" style="width: 350px">
      <img src="images/2222.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h4>MK4</h4>
        <p class="card-text">
          Feature : The Toyota Supra MK4 is equipped with a twin-turbo 3.0-litre
          straight-six engine, producing up to 320 hp and around 440 Nm of
          torque, known as the 2JZ-series. This car accelerates from 0 to 100
          km/h in about 4.9 seconds, with a top speed of up to 277 km/h.'This
          unique Formula One inspired braking system allowed the Supra Turbo to
          record a 70-0 braking distance of 149 feet (45m) , the best braking
          performance of any production car tested in 1997 by Car and Driver
          magazine
        </p>
        <p>Model-year : 1993-2002</p>
        <p>Fuelcapcity : 21.1 gallons 80 L 17.6 UK gallons</p>
        <p>colour-varient : Rust</p>
        <p>₹85.00 Lakh</p>
         <button class="text-white btn btn-danger">Buy now</button>
      </div>
    </div>
  </div>
  <div>
    <h1 class="ms-5">SupraMK5</h1>
    <div class="row">
      <div class="card col-4 ms-5 m-5 b" style="width: 350px">
        <img src="images/44444.jfif" class="card-img-top" alt="..." />
        <div class="card-body">
          <h4>MK5</h4>
          <p class="card-text">
            Feature : The Toyota Supra MK5 is equipped with a twin-turbo
            3.0-litre straight-six engine, producing up to 320 hp and around 440
            Nm of torque, known as the 2JZ-series. This car accelerates from 0
            to 100 km/h in about 4.9 seconds, with a top speed of up to 277
            km/h.'This unique Formula One inspired braking system allowed the
            Supra Turbo to record a 70-0 braking distance of 149 feet (45m) ,
            the best braking performance of any production car tested in 1997 by
            Car and Driver magazine
          </p>
          <p>Model-year : 2019</p>
          <p>Fuelcapcity : 21.1 gallons 80 L 17.6 UK gallons</p>
          <p>colour-varient : Gray</p>
          <p>₹85 Lakh</p>
           <button class="text-white btn btn-danger">Buy now</button>
        </div>
      </div>
      <div class="card col-4 ms-5 m-5 b" style="width: 350px">
        <img src="images/55555.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h4>MK5</h4>
          <p class="card-text">
            Feature : The Toyota Supra MK5 is equipped with a twin-turbo
            3.0-litre straight-six engine, producing up to 320 hp and around 440
            Nm of torque, known as the 2JZ-series. This car accelerates from 0
            to 100 km/h in about 4.9 seconds, with a top speed of up to 277
            km/h.'This unique Formula One inspired braking system allowed the
            Supra Turbo to record a 70-0 braking distance of 149 feet (45m) ,
            the best braking performance of any production car tested in 1997 by
            Car and Driver magazine
          </p>
          <p>Model-year : 2019</p>
          <p>Fuelcapcity : 21.1 gallons 80 L 17.6 UK gallons</p>
          <p>colour-varient : white</p>
          <p>₹85 Lakh</p>
           <button class="text-white btn btn-danger">Buy now</button>
        </div>
      </div>
      <div class="card col-4 ms-5 m-5 b" style="width: 350px">
        <img src="images/77777.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h4>MK5</h4>
          <p class="card-text">
            Feature : The Toyota Supra MK5 is equipped with a twin-turbo
            3.0-litre straight-six engine, producing up to 320 hp and around 440
            Nm of torque, known as the 2JZ-series. This car accelerates from 0
            to 100 km/h in about 4.9 seconds, with a top speed of up to 277
            km/h.'This unique Formula One inspired braking system allowed the
            Supra Turbo to record a 70-0 braking distance of 149 feet (45m) ,
            the best braking performance of any production car tested in 1997 by
            Car and Driver magazine
          </p>
          <p>Model-year : 2019</p>
          <p>Fuelcapcity : 21.1 gallons 80 L 17.6 UK gallons</p>
          <p>colour-varient : Red & white</p>
          <p>₹85 Lakh</p>
           <button class="text-white btn btn-danger">Buy now</button>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h1 class="ms-5">ToyotaGR Supra</h1>
    <div class="row">
      <div class="card ms-5 m-5 b" style="width: 350px">
        <img src="images/888888.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h4>GR Supra</h4>
          <p class="card-text">
            Feature : The GR Supra rides on a new jointly developed sports car
            platform by Toyota and BMW, with a short wheelbase, wide track, and
            low centre of gravity, that also underpins the G29 BMW Z4.[10][11]
            Initially, BMW considered using a pre-existing platform of their own
            to underpin the new Supra, to which chief engineer Tada-san
            declined.[12] Both cars are manufactured at the Magna Steyr plant in
            Graz, Austria.
          </p>
          <p>Model-year : 2020-present</p>
          <p>Fuelcapcity : 13.7 gal</p>
          <p>colour-varient : Yellow</p>
          <p>₹1.11 Cr</p>
          <button class="text-white btn btn-danger">Buy now</button>
        </div>
      </div>
      <div class="card ms-5 m-5 b" style="width: 350px">
        <img src="images/000000.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h4>GR Supra</h4>
          <p class="card-text">
            Feature : The GR Supra rides on a new jointly developed sports car
            platform by Toyota and BMW, with a short wheelbase, wide track, and
            low centre of gravity, that also underpins the G29 BMW Z4.[10][11]
            Initially, BMW considered using a pre-existing platform of their own
            to underpin the new Supra, to which chief engineer Tada-san
            declined.[12] Both cars are manufactured at the Magna Steyr plant in
            Graz, Austria.
          </p>
          <p>Model-year : 2020-present</p>
          <p>Fuelcapcity : 13.7 gal</p>
          <p>colour-varient : Blue</p>
          <p>₹1.11 Cr</p>
           <button class="text-white btn btn-danger">Buy now</button>
        </div>
      </div>
      <div class="card ms-5 m-5 b" style="width: 350px">
        <img src="images/999999.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h4>GR Supra</h4>
          <p class="card-text">
            Feature : The GR Supra rides on a new jointly developed sports car
            platform by Toyota and BMW, with a short wheelbase, wide track, and
            low centre of gravity, that also underpins the G29 BMW Z4.[10][11]
            Initially, BMW considered using a pre-existing platform of their own
            to underpin the new Supra, to which chief engineer Tada-san
            declined.[12] Both cars are manufactured at the Magna Steyr plant in
            Graz, Austria.
          </p>
          <p>Model-year : 2020-present</p>
          <p>Fuelcapcity : 13.7 gal</p>
          <p>colour-varient : Red</p>
          <p>₹1.11 Cr</p>
           <button class="text-white btn btn-danger">Buy now</button>
        </div>
      </div>
    </div>
  </div>
</div>
