<nav class="navbar navbar-expand-lg p-0 tb">
  <div class="container-fluid b">
    <a class="navbar-brand"><img src="images/logo.png" alt="" /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse d-flex justify-content-end me-5"
      id="navbarNav"
    >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link active text-light"
            aria-current="page"
            routerLink=""
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/feature"
            ><i class="fa-solid fa-gears"></i>Features</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/pricing"
            ><i class="fa-solid fa-tags"></i>Pricing</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#" routerLink="/about"
            ><i class="fa-solid fa-user"></i>About<span class="text-light"
              >us</span
            ></a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
