

.col{
    border-top: 2px solid gray;
  
}
.ti{
    margin-top: 50px;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 750;
}
h6{
    font-family: 'Courier New', Courier, monospace;
}

h6:nth-of-type(even){
 font-weight: 900;
}
button{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
}