<div class="m">
  <h1>AboutUs</h1>
  <div>
    <img src="images/888888.jpg" alt="" class="im" />
  </div>
  <div class="icons row">
    <i class="fa-brands fa-facebook col-2"></i>
    <i class="fa-brands fa-square-instagram col-2"></i>
    <i class="fa-brands fa-x-twitter col-2"></i>
    <i class="fa-brands fa-youtube col-2"></i>
    <i class="fa-brands fa-square-whatsapp col-2"></i>
  </div>

  <div class="container row n">
    <div class="col-4">
      <img src="images/flag4.jfif" alt="" class="fl" />
      <p>Careers</p>
      <p>About Us</p>
      <p>Our Company</p>
    </div>
    <div class="col-4">
      <img src="images/flag2.png" alt="" class="fl" />
      <p>Toyota Outfitters</p>
      <p>Newsroom</p>
      <p>Toyota Worldwide</p>
    </div>
    <div class="col-3">
      <img src="images/flag3.png" alt="" class="fl" />
      <p>Toyota Racing</p>
      <p>TRD USA</p>
      <p>Plant Tours</p>
    </div>
  </div>
  <div class="p row">
    <h5 class="col-1 r">FAQs</h5>
    <h5 class="col-1 r">Español</h5>

    <p>
      ©2024 Toyota Motor Sales, U.S.A., Inc. All information applies to U.S.
      vehicles only.
    </p>
    <p>
      The use of Olympic Marks, Terminology and Imagery is authorized by the
      U.S. Olympic & Paralympic Committee pursuant to Title 36 U.S. Code Section
      220506.
    </p>
  </div>
</div>
