.m {
  margin-top: 100px;
  color: aliceblue;
}
.n {
  margin-left: 150px;
  font-size: 25px;
  position: relative;
  bottom: 55px;
}
.icons {
  height: 150px;

  margin-left: 1050px;
  margin-top: 150px;
  font-size: 35px;
}
h1 {
  font-size: 40px;
}
.p {
  color: aliceblue;
  margin-top: 80px;
  text-align: center;
}

.im {
  height: 550px;
  width: 100vw;
}
.fl {
  width: 100px;
  height: 50px;
}
