video{
    width: 100%;
}
.s{
    margin-top: 500px;
}
img{
    width: 350px;
}
h2{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
}
h4{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
}